<footer class="footer">
  <small>
    <a href="#">link</a>
    <a href="#">Link</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Link",   '#' %></li>
      <li><%= link_to "Link", '#' %></li>
      <li><a href="#">Link</a></li>
    </ul>
  </nav>
</footer>
